<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="./css/user.css">
</head>

<body>
    <header>
        <div class="first-navbar">
            <img src="/img/logo-mercado-liebre.svg" class="logo" href="./index.html">
            <section class="search">
                <input type="text" value="Busqueda">
                <button><i class="fas fa-search"></i></button>
            </section>
            <p>
                <i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito
            </p>
        </div>
        <section>
            <nav class="second-navbar">
                <ul class="navbar">
                    <li><a href="">Ofertas</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Vender</a></li>
                    <li><a href="">Ayuda</a></li>
                </ul>
                <ul class="navbar">
                    <li><a href="/register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fas fa-angle-double-right"></i></li>
                    <li><a href="">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
                </section>
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
                 <img class="img-banner" src="/img/img-home-banner.jpg">
        </nav>
    </header>

    <main>
        <div class="base">
            <input type="text" id="nombre" placeholder="Nombre y apellido" class="contenedor" required>
            <input type="text" id="usuario" placeholder="Nombre de usuario" class="contenedor" required>
            <input type="email" id="email" placeholder="E-mail" class="contenedor" required>
            <h1>Fecha de nacimiento</h1>
            <input type="date" id="fecha" class="contenedor" required>
            <input type="text" id="domicilio" placeholder="domicilio" class="contenedor" required>
            <h1>Perfil del usuario</h1>
        <div class="check">
            <input type="radio" id="perfil" name="perfil" value="Comprador" class="contenedor1">
            <label for="Comprador">Comprador</label>
            <input type="radio" id="perfil" name="perfil" value="Vendedor" class="contenedor1">
            <label for="Vendedor">Vendedor</label>
        </div>
        <div class="categorias">
            <h1>Categorías de interés</h1>
            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Electro</label>
            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Moda</label>
            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Hogar</label>
            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Juguetería</label>
            <label><input type="checkbox" id="cbox1" value="first_checkbox"> Vida sana</label>
        </div>
            <br>
            <h1>Foto de usuario</h1>
            <input type="file" id="inputarchivo" name="file" style="display: none;" required><br>
            <button><label for="inputarchivo">Selecciona un archivo</label></button>
        <div class="pass">
            <input type="password" id="contraseña" placeholder="Contraseña" class="contenedor" required>
            <input type="password" id="contraseña" placeholder="Confirmar contraseña" class="contenedor" required>
        </div>
        <p>
            <input type="submit" id="enviar" class="contenedor3">
            <input type="reset" id="borrar" value="borrar" class="contenedor3">
        </p>
        </div>
    </main>


    <footer>
        <section>
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </section>
        <section>
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </section>
        <section>
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </section>

        <h2>© 1999-2020 MercadoLiebre S.R.L.</h2>

    </footer>
</body>

</html>